<div class="container">         
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-12">
                    <a href="https://shopee.tw/liz_beauty?categoryId=100001&entryPoint=ShopByPDP&itemId=18247941508" target="blank">
                        <div class="f-button">
                            <p>購買商品</p>
                            <h2>BUY IT</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-12">
                    <a href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;to=service@vive-vita.com" target="blank">
                        <div class="f-button">
                            <p>聯絡我們</p>
                            <h2>CONTACT US</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="f-logo">
                <a href="index.html">
                    <img src="img/f-logo.svg" alt="">
                 </a>
            </div>
            <!-- <div class="f-list">
                <a href="">購物須知</a>
                <p>・</p>
                <a href="">退換貨政策</a>
                <p>・</p>
                <a href="">隱私政策</a>
            </div> -->
            <div class="f-info mt-4">
                <div class="shopee">
                    <img src="img/shopee.svg" alt="">
                    <span>liz_beauty</span>
                </div>
                <div class="mail">
                    <img src="img/mail.svg" alt="">
                    <span>service@vive-vita.com</span>
                </div>
                <!-- <div class="phone">
                    <i class="demo-icon icon-phone"></i>
                    <span>+8862222-9999</span>
                </div> -->
            </div>
        </div>
    </div>
</div>