<style>
    @media screen and (max-width: 667px) { .classy-menu .classynav ul li{ display: none !important; } .classy-menu.menu-on .classynav ul li{ display: block !important; } }
</style>
<!-- Navbar Area -->
<div class="faith-main-menu">
    <div class="classy-nav-container breakpoint-off">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="faithNav">
            <!-- Logo -->
            <div class="nav-logo">
                <a href="index.html">
                    <img src="img/logo.svg" alt="VIVEVITA" title="VIVEVITA">
                </a>
            </div>
            <div class="d-flex">
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <div class="classynav">
                        <ul>
                            <li><a href="about.html">品牌故事</a></li>
                            <li><a href="product.html">商品總覽</a></li>
                            <li><a href="news.html">達人推薦</a></li>
                            <li><a href="faq.html">常見問題</a></li>
                            <li><a href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;to=service@vive-vita.com"
                                    target="blank">聯絡我們</a></li>
                            <!-- <li><a href="member.html">會員中心</a></li> -->
                        </ul>
                        <div class="pc-cart">
                            <ul class="cart">
                                <li>
                                    <a target="_blank"
                                        href="https://shopee.tw/liz_beauty?categoryId=100001&entryPoint=ShopByPDP&itemId=18247941508">
                                        <div>
                                            <img src="img/cart.svg" alt="">
                                            <p>購物去</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>

                <div class="mobile-cart">
                    <ul class="cart">
                        <li>
                            <a target="_blank"
                                href="https://shopee.tw/liz_beauty?categoryId=100001&entryPoint=ShopByPDP&itemId=18247941508">
                                <div>
                                    <img src="img/cart.svg" alt="">
                                    <p>購物去</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
